
/*--------------------------------------------------------------
# Homepage CSS
--------------------------------------------------------------*/
/* made by Jack the Coder | MIT License | jackthecoder.dev */

/* Header Up Bar **/
 
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 .homepage-up-bar{
	background-color: coral;
	width: 100%;
	height: 50px;
 }